html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
  width: 450px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  animation: dropdown 1s ease-in-out;
  text-align: center;
  border-left: 2px solid #055D7D;
  border-right: 2px solid #055D7D;
  user-select: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div {
  text-align: center;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

label{
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 30px;
}

img {
  position: absolute;
  display: inline-block;
  width: 24px;
}

table {
  border-collapse: collapse;
  width: 425px;
  margin-left: 8px;
  text-align: center;
  table-layout: fixed;
}

th, td {  
  border: 1px solid #dee2e6;
  padding: 10px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  user-select: text;
}

th {
  background-color: #E9F0F5;
  font-weight: normal;
  color: #7F7F7F;
}

td:nth-child(1) {
  color: #7F7F7F;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  transform: scale(0.5);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0b86b2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.stat{
  width: 13px;
  margin-left: 7px;
  opacity: 0.8;
}

.stat:hover{
  opacity: 1;
  cursor: pointer;
}