html {
  height: 100%;
}

body {
  background-color: #fafafa;
  width: 450px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  animation: dropdown 1s ease-in-out;
  text-align: center;
  border-left: 2px solid #055D7D;
  border-right: 2px solid #055D7D;
  user-select: none;
}

div {
  text-align: center;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 30px;
}

img {
  position: absolute;
  display: inline-block;
  width: 24px;
}

select {
  padding: 5px;
  text-align: center;
  border: 2px solid #055D7D;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

#link{
  cursor: pointer;
  transition: transform 0.3s ease;
}

#link:hover {
  text-decoration:underline;
  transform: scale(1.1);
}

input[type=radio] {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #055D7D;
  border-radius: 6px;
  margin: 0 auto;
  user-select: none;
}

#lyear {
  margin-left: 5px;
  margin-right: 5px;
}

input[type=radio]:checked + label {
  background: #0687b1ad;
}

.divperiod {
  margin-top: 10px;
  padding: 5px;
}